
<!-- <div *ngIf="movies" class="jumbotron">
    <div class="row movies-list">
        <h2 class="text-center">List of movies {{movies.length}} movies</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 card-group panel-body" *ngFor="let m of movies"  >
        <div class="card text-white bg-info">
              <div class="card-title"><h4>{{m.title}}</h4></div>
              <div class="card-text"><h4>{{m.genre}}</h4></div>
              <div class="card-text"><p>{{m.price}}</p></div>
              <div class="card-text"><b>{{m.released}}</b></div>
        </div> 
     </div>
</div> -->
  

<router-outlet></router-outlet>